
@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Practice</title>
    <style>
    .container {
    display: -webkit-flex;
    display: flex;
    }
    nav {
    width: 200px;
    }
    .flex-column {
    -webkit-flex: 1;
    flex: 1;
    }
    </style>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <div class="container elem">
            

            <nav class="elem elem-red">             
                <ul>
                    <li>
                        <p>Snow Leopard</p>
                    </li>
                    <li>
                        <p>Black Rhino</p>
                    </li>
                    <li>
                        <p>Marmot</p>
                    </li>
                    <li>
                        <p>Prairie Dog</p>
                    </li>
                    <li>
                        <p>Spoonbill</p>
                    </li>
                    <li>
                        <p>Sturgeon</p>
                    </li>
                </ul>              
            </nav>
            <div class="elem elem-red flex-column">             

                <section class="elem elem-green">                  
                    <p>
                       Look at me go!
                    </p>
                   
                </section>

                <section class="elem elem-green ipsum">                
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.
                    </p>                 
                </section>               
            </div>
        </div>
    </div>
</body>
</html>*@
